$xxl: 1400px
$xl: 1200px
$lg: 992px
$md: 768px
$sm: 576px
$mobile-l: 425px
$mobile-m: 375px
$mobile-s: 320px
$mobile-xs: 280px

:root
  --selection__color: #000
  --selection__background-color: #ffcad4

  --min-width: 280px,
  --font-family: 'Jost', sans-serif
  --font-size: 1rem
  --font-weight: 400
  --text-transform: none
  --letter-spacing: none
  --color: #000
  --background-color: #fff
  --overflow-x: hidden
