@import ./functions
@import ./keyframes

body
    &.body_no-scroll
        overflow: hidden

.page
    // &.page_no-scroll
    //     position: fixed

.wrap
    // margin-left: 25%

    // width: calc(100% - 25%)

.main
    display: flex
    flex-direction: column

img,
video
    width: 100%

// TEXTAREA

.textarea
  // 

// INPUT

.input
    position: relative

// SELECT

.select
    position: relative

    cursor: pointer

// BUTTON

.button
  // &.button_

// TABLE
